@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Tammudu 2", cursive;
  text-decoration: none;
  scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(images/headerbg2.jpg);
  /* background-color: black; */
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  height: 64px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  max-height: 65px;
  width: 100vw;
  padding: 25px;
  align-items: center;
}

.nav-logo-txt {
  color: white;
  font-size: 28px;
  padding: 0 15px;
}

#menu{
  display: none;
}

#nav-ul {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.nav-li {
  list-style: none;
  margin: 0 10px;
}

.nav-a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.nav-a:hover {
  text-shadow: 1px 1px 0px aqua, -1px -1px 0px red;
}

#home {
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
}

#home .home-txt .intro-txt {
  font-size: 60px;
  margin: 0 35px;
  text-shadow: 2px 2px 0px aqua, -2px -2px 0px red;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

#home .home-txt .typewriter .typewrite span {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 30px;
}

#home .home-txt .typewriter .typewrite {
  margin: 0 35px;
}

#home .home-txt .neon-btn-a {
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin: 35px;
  font-size: 24px;
  /* background-color: rgba(0,0,0,0.8); */
  /* background: rgba(3, 3, 3, 0.35); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border: 1px solid white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 3px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-shadow: -1px -1px 0px gray;
}

#home .home-txt .neon-btn-a:hover {
  background-color: #03e9f4;
  color: white;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

#home .home-txt .neon-btn-a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

#home .home-txt .neon-btn-a span:nth-child(2) {
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

#home .home-txt .neon-btn-a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#home .home-txt .neon-btn-a span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    top: 100%;
  }
  50%,
  100% {
    top: -100%;
  }
}

@media only screen and (max-width: 778px) {
  #home {
    justify-content: center;
  }
  #home .home-txt .intro-txt {
    margin: 0 auto;
  }
  #home .home-txt .typewriter {
    margin: 0 auto;
    text-align: center;
  }

  #home .home-txt .neon-btn-a {
    display: flex;
    justify-content: center;
  }
  .navbar #nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: black;
    box-shadow: 2px 2px 20px black;
    width: 100%;
    height: 50vh;
    top: 115px;
    left: -500%;
    z-index: 1000;
    transition: 0.5s;
  }

  .nav-li {
    margin: 15px 0;
  }

  #menu {
    display: inline !important;
  }
}

#menu {
  filter: invert(100);
  cursor: pointer;
  display: none;
}

/* -------------------------------------ABOUT----------------------------------- */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100;
  width: 100vw;
}

#about .skills {
  margin: 20px 0;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(26, 26, 36);
  border-radius: 8px;
  color: white;
}

#about .skills .skill{
  display: flex;
  align-items: center;
  width: 100%;
}

#about .skills .skill .skill-txt{
  display: flex;
  /* flex-grow: 2; */
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
  width: 200px;
}

#about .skills .skill #gaming{
  margin-left: 10px;
}

#about .skills .skill i{
  color: white;
  padding: 15px;
  margin: 5px;
}

#about .skills .skill .skill-perc{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  margin: 0 10px;
  height: 10px;
  position: relative;
  box-shadow: 0 0 20px aqua;
}

#about .skills .skill .skill-perc .span{
  background-color: aqua;
  position: absolute;
  border-radius: 5px;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
}

#about .skills .skill .skill-perc #span-1{
  width: 80%;
}
#about .skills .skill .skill-perc #span-2{
  width: 60%;
}
#about .skills .skill .skill-perc #span-3{
  width: 50%;
}
#about .skills .skill .skill-perc #span-4{
  width: 100%;
}

.heading-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  font-size: 25px;
  flex-direction: column;
}


#services{
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

#services .service-container{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
}

#services .service-container .service{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  padding: 50px;
  cursor: pointer;
  border: rgb(235, 235, 235);
  width: 85%;
}

#services .service-container .service:hover{
  box-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white,
    0 0 100px white;
}

#services .service-container .service .service-logo img{
  width: 60px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 778px) {
  #services .service-container{
    grid-template-columns: auto;
  }
}



#testimonials{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial{
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.review{
  /* position: relative; */
  background-color: white;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0 0 200px rgb(221, 221, 221);
  /* box-shadow: 1 1 20px white; */
  padding: 0 15px;
}

.review-logo{
  position: relative;
  top: -35px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 20px rgb(223, 223, 223);
}

.review-logo img{
  width: 100%;
  height: auto;
}

.review-name{
  text-align: center;
  font-weight: 700;
}

.review-txt{
  text-align: center;
}

@media  only screen and (max-width: 778px) {
  .testimonial{
    grid-template-columns: auto;
  }
}



#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f3;
  /* margin-bottom: 20px; */
}

.form{
  width: 60%;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;

}

.form input, textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: black;
  font-weight: 200;
  box-shadow: inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px #ffffff;
  border-radius: 40px;
  outline: none;
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px auto;
  font-family: 'Poppins', sans-serif;
}

.form input::placeholder{
  font-weight: 500;
}

.form textarea{
  width: 100%;
  outline: none;
  resize: none;
}

.form #submit{
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-self: auto; */
  width: 20%;
  background-color: white;
  border: 2px solid aqua;
  color: aqua;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
  font-family: 'Poppins', sans-serif;
}

.form #submit:hover{
  box-shadow: 0px 0px 20px aqua;
  background-color: aqua;
  color: white;
}

@media only screen and (max-width: 778px)  {
  .form{
    width: 90%;
  }

  .form #submit{
    width: 40%;
  }
}

footer{
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}